{% extends 'shop/basic.html' %}
{% block title %} About {% endblock %}
{% block body %} 

<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">My Cart!</h1>
          <p>My Cart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</p>
          
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Business Structure</h2>
            <p>According to a report in November 2014, My Cart was operating through a complex business structure that included nine firms, some registered in Singapore and some in India. In 2012, My Cart co-founders sold WS Retail to a consortium of investors led by Rajeev Kuchhal.[76] My Cart's Indian entities are owned by My Cart Pvt. Ltd, which is registered in Singapore. The Singapore-registered entity owns eight Indian companies, including My Cart Internet Pvt. Ltd, the company that runs the e-commerce marketplace My Cart.com, My Cart India Pvt. Ltd, the wholesale business, and My Cart Logistics Pvt. Ltd, which runs Ekart. </p>
            
          </div>
          <div class="col-md-4">
            <h2>House Brands</h2>
            <p>My Cart operates several house brands, including Citron[112] (home appliances) and Digiflip (formerly for electronics and accessories).[113] In 2017, My Cart launched additional house brands, including Billion (smartphones),[114] Smartbuy (electronics accessories, effectively replacing Digiflip),[115] and MarQ (for large appliances, although its launch was complicated by a trademark dispute with an existing company, Marc Enterprises)</p>
            
          </div>
          <div class="col-md-4">
            <h2>Awards</h2>
            <p>Sachin Bansal was awarded Entrepreneur of the Year, 2012–2013 from The Economic Times, a leading Indian economic daily newspaper.[134]
In September 2015, the two founders entered Forbes' India Rich List, debuting in the 86th position with a net worth of $1.3 billion each.[135]
In April 2016, Sachin and Binny Bansal were named to Time magazine's annual list of The 100 Most Influential People in the World.</p>
            
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>


{% endblock %}