{% extends 'shop/basic.html' %}
{% block title %} {{product.product_name}} {% endblock %}
{% block body %} 

<div class = "container my-4">
  <div class = "row" >
    <div class="col-md-4">
        <div class = "row" >
            <img src="/media/{{product.image}}" width="300px" height="300px">
        </div>
        <div class = "row my-4" >
            <a href="/shop/"><button type="button" class="btn btn-outline-primary btn-lg">Go back to home</button></a>
        </div>
    </div>

    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p>{{product.desc}}</p>
        <p><h5>Rs.  {{product.price}}/-</h5></p>
        
    </div>
    
  </div>
</div>

{% endblock %}

{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
for (item in cart) {
    let qty = cart[item][0];
    sum = sum + qty;
}
document.getElementById('cart').innerHTML = sum;
</script>
{% endblock %}